{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'projectCore/app.css' %}>
</head>
<body>
    <div class="main-container">
    <div class="side-bar">
        <h1><a href="#home">InovaLGPD+</a></h1>
        <div class="side-bar-menu">
        <nav>
            <ul>
                <li><a href="#register-client">Registrar cliente</a></li>
                <li><a href="#dashboard">Dashboard</a></li>
            </ul>
        </nav>
        </div>
        <img src={% static 'projectCore/img/LOGO_OFICIAL.png' %} alt="logo-inovaLGPD" class="logo-inovaLGPD", width="150", height="150">
    </div>
    <div class="customer-area">
        {% for customer in customers%}
        <div class="customer-frame">
            {% if customer.customer_logo %}
                <img class="customer-logo" src={{customer.customer_logo.url}}/>
            {% else %}
                <img class="customer-logo" src={% static 'projectCore/img/LOGO_OFICIAL.png' %}/>
            {% endif %}
            <div class="customer-name">{{customer.customer_razao_social}}</div>
        </div>
        {% endfor %}
    </div>
    <div class="user-area">
        <span class="user-name">Usuário</span>
        <span class="user-logo"><i class="fa-solid fa-user-tie"></i></span>
    </div>
    
    </div>
</body>
</html>