{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InovaLGPD+ | {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'projectCore/app.css' %}>
</head>
<body>
    <div class="main-container">
        <div class="side-bar">
            <h1><a href="#home">InovaLGPD+</a></h1>
            <div class="side-bar-menu">
            <nav>
        {% block content %}
    
        {% endblock content %}
    <div class="user-area">
        <span class="user-name">{{username}}</span>
        <span class="user-logo"><i class="fa-solid fa-user-tie"></i></span>
    </div>
    </div>
</body>
</html>