<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="side-bar-menu">
        <div class="side-bar-menu-buttons">
            <div class="menu-button"><button>Cadastrar projeto</button></div>
            <div class="menu-button"><button>Dashboard</button></div>
        </div>
        <!--Logo InovaLGPD-->
        <img src="C:\Users\Jeferson\InovaLGPD\InovaLGPD - Documentos\Imagens\InovaLGPD\LOGO_OFICIAL.png" alt="logo-inovaLGPD" class="logo-inovaLGPD", width="170", height="170">
    </div>
    <div class="user-profile">
        <span class="user-name">Namesadasd</span>
        <!--Arrumar a logo do user que não tá funcionando-->
        <span class="user-logo">
            <i class="fa-solid fa-circle-user"></i>
        </span>
    </div>
    <div class="empty-fill"></div>
    <div class="customer-list">
        <div class="customer-info-preview">
            <div class="customer-logo"></div>
            <div class="customer-name"></div>
        </div>
    </div>
</body>
</html>