<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="main-bg">
    <aside class="menu white-bg">
        <div class="main-content menu-content">
        <h1><a href="#home">Logo</a></h1>
        <nav>
            <ul>
                <li><a href="#intro">intro</a></li>
                <li><a href="#top3">top 3</a></li>
                <li><a href="#gallery">gallery</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>
    </aside>
    <section id="home" class="intro main-bg section">
        <div class="menu-spacing"></div>
        <div class="main-content intro-content">
            <div class="intro-text-content">
            <h2>Django is whole some</h2>
            <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
        
            </p>
            </div>
            <div class="intro-img">
                <img src="assets/img/undraw_static_assets_rpm6.svg" alt="logo de HTML, CSS e JS">
            </div>
        </div>
    </section>
    <section id="intro" class="white-bg section">
        <div class="main-content top3-content">
            <h2>Top 3 jobs</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit consequatur. Quaerat ratione provident hic deserunt sit magni perferendis. Assumenda, ad? Quis fuga laborum ex corrupti voluptate quo reprehenderit ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque itaque animi obcaecati esse, corrupti inventore necessitatibus illo ut vitae, asperiores minus dolores officiis nihil voluptatibus molestias eos ab quia dicta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse obcaecati non, est repellat unde id quidem quod debitis, architecto blanditiis mollitia optio temporibus officiis, beatae totam laudantium sit dolores sapiente?</p>
        </div>
    </section>
    
    <section id="top3" class="grid-one main-bg section">
        <div class="main-content grid-one-content">
            <h2 class="grid-main-heading">Top3 jobs description</h2>
            <p class="grid-description">Uma breve descrição</p>
            <div class="grid">
                <article>
                    <h3>Teste1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi esse obcaecati, corporis reprehenderit maxime qui! Iure nobis perspiciatis debitis unde magnam? Ipsum similique amet soluta nihil dolores quod, et temporibus!</p>
                </article>
                <article>
                    <h3>Teste2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloremque porro reiciendis ex quaerat. Eos repellat quo eveniet impedit ea voluptates, ratione quod culpa possimus vel facere officia dignissimos sapiente.</p>
                </article>
                <article>
                    <h3>Teste3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloremque porro reiciendis ex quaerat. Eos repellat quo eveniet impedit ea voluptates, ratione quod culpa possimus vel facere officia dignissimos sapiente.</p>
                </article>
            </div>
        </div>
    </section>
    <section id="gallery" class="grid-one white-bg section">
        <div class="main-content grid-one-content">
            <h2 class="grid-main-heading">Gallery</h2>
            <p class="grid-description">Uma breve descrição</p>
            <div class="grid">
                    <div class="gallery-img">
                    <img src="http://source.unsplash.com/random/360x360?r1" alt="random image from unsplash">
                    </div>
                    <div class="gallery-img">
                        <img src="http://source.unsplash.com/random/360x360?r2" alt="random image from unsplash">
                    </div>
                    
                    <div class="gallery-img">
                        <img src="http://source.unsplash.com/random/360x360?r3" alt="random image from unsplash">
                    </div>
                    <div class="gallery-img">
                        <img src="http://source.unsplash.com/random/360x360?r4" alt="random image from unsplash">
                    </div>
                    <div class="gallery-img">
                        <img src="http://source.unsplash.com/random/360x360?r5" alt="random image from unsplash">
                    </div>
                    <div class="gallery-img">
                        <img src="http://source.unsplash.com/random/360x360?r6" alt="random image from unsplash">
                    </div>
                </div>
        </div>
    </section>

</body>
</html>